body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.service-update {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.service-update label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.service-update input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.service-update button {
    padding: 10px 20px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.service-update button:hover {
  color: black; /* Lighter shade of darkcyan */
}