body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.showoservices {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.searchbtn {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.searchbtn input[type="search"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.searchbtn #search-btn {
    padding: 10px 20px;
    background-color: darkcyan;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchbtn #search-btn:hover {
    background-color: #008b8b; /* Lighter shade of darkcyan */
}

.dback {
    background-color: #f0f0f0;
    padding: 10px;
}

.dback a, .dback button {
    margin-right: 10px;
    padding: 5px 10px;
    background-color:#ff69b4;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dback a:hover, .dback button:hover {
    background-color: #555; /* Darker shade of background */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
   color:black; /* Lighter shade of darkcyan */
}